
#si{ 
	cursor: pointer;
}
#s{ 
	cursor: pointer;
}
#cl{ 
	cursor: pointer;
}
#al{ 
	cursor: pointer;
}
#na{ 
	cursor: pointer;
}
#ar{ 
	cursor: pointer;
}
#p{ 
	cursor: pointer;
}
#mg{ 
	cursor: pointer;
}
#si0{ 
	cursor: pointer;
}
#s0{ 
	cursor: pointer;
}
#cl0{ 
	cursor: pointer;
}
#al0{ 
	cursor: pointer;
}
#na0{ 
	cursor: pointer;
}
#ar0{ 
	cursor: pointer;
}
#p0{ 
	cursor: pointer;
}
#mg0{ 
	cursor: pointer;
}
#resetBtn{
	cursor: pointer;
}
