
#a1{ 
	cursor: pointer;
}
#a2{ 
	cursor: pointer;
}
#a3{ 
	cursor: pointer;
}
#a4{ 
	cursor: pointer;
}
#a5{ 
	cursor: pointer;
}
#a6{ 
	cursor: pointer;
}
#a7{ 
	cursor: pointer;
}
#a8{ 
	cursor: pointer;
}
#a9{ 
	cursor: pointer;
}
#a10{ 
	cursor: pointer;
}
#a11{ 
	cursor: pointer;
}
#a12{ 
	cursor: pointer;
}
#b1{ 
	cursor: pointer;
}
#b2{ 
	cursor: pointer;
}
#b3{ 
	cursor: pointer;
}
#b4{ 
	cursor: pointer;
}
#b5{ 
	cursor: pointer;
}
#b6{ 
	cursor: pointer;
}
#b7{ 
	cursor: pointer;
}
#b8{ 
	cursor: pointer;
}
#b9{ 
	cursor: pointer;
}
#b10{ 
	cursor: pointer;
}
#b11{ 
	cursor: pointer;
}
#b12{ 
	cursor: pointer;
}
#resetBtn{
	cursor: pointer;
}
